%screenWidthByhaedearWidth {
  @media screen and (min-width: 1600px) {
    // @extend %widthGreatThan1600_header;
    width: 34%;
    position: fixed;
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 600px;
    position: fixed;
  }
  @media screen and (min-width: 840px) and (max-width: 1200px) {
    width: 420px;
    position: fixed;
  }
  @media screen and (max-width: 840px) {
    position: block;
  }
}