@import "_variables";
@import "_extends";

html,
body {
  font-family: "freight-text-pro", "Times", "Times New Roman", serif;
  font-size: 16px;
  height: 100%;
  letter-spacing: 0.1em;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
header {
  display: flex;
  flex-direction: column-reverse;
  height: 120px;
  margin-left: 7em;
  margin-right: 7em;

  nav.header_group {
    top: 40px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      height: 100%;

      li {
        height: 100%;
        button {
          height: 100%;
          border: none;
          background-color: white;
          margin-right: 3em;
          font-weight: 600;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }
  a.logo {
    color: #414141;
    height: 58px;
    left: 50%;
    margin-left: -29px;
    margin-top: -29px;
    position: absolute;
    top: 77px;
    white-space: nowrap;
    width: 58px;
    z-index: 11;
    svg {
      height: 100%;
    }
  }
}

main {
  width: 100%;
  .section_grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div.section01 {
      display: grid;
      margin-top: 4em;
      grid-template-columns: repeat(2, 1fr);
      div.leftbox {
        img {
          width: 100%;
          height: 100%;
        }
      }
      div.rightbox {
        div.content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          background-color: #f9dbbe;

          p {
            font-size: 30pt;
            margin-left: 3.3em;
            margin-right: 3.3em;
            margin-bottom: 0.7em;
            color: #414141;
            text-align: center;
          }
          a {
            border: #414141 2px solid;
            width: 295px;
            height: 55px;
            display: grid;
            grid-template-columns: 240px 55px;
            text-decoration: none;
            justify-items: center;
            align-items: center;
            margin-top: 0.7em;
            color: #414141;

            span::after {
              @extend %buttonRightArrowdefault;
            }

            &:hover {
              background-color: #414141;
              color: white;

              span::after {
                @extend %buttonRightArrowMouseOver;
              }
            }
          }
        }
      }
    }
    div.section02 {
      display: grid;
      margin-top: 5em;
      margin-left: $section_margin_left_right;
      margin-right: $section_margin_left_right;
      grid-template-columns: repeat(2, 1fr);

      div.leftbox {
        img {
          width: 100%;
          height: 100%;
        }
      }

      div.rightbox {
        div.content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          background-color: #f3ede8;

          p {
            font-size: 30pt;
            margin-left: 3.3em;
            margin-right: 3.3em;
            margin-bottom: 0.7em;
            color: #414141;
            text-align: center;
          }
          a {
            border: #414141 2px solid;
            width: 295px;
            height: 55px;
            display: grid;
            grid-template-columns: 240px 55px;
            text-decoration: none;
            justify-items: center;
            align-items: center;
            margin-top: 0.7em;
            color: #414141;

            span::after {
              @extend %buttonRightArrowdefault;
            }

            &:hover {
              background-color: #414141;
              color: white;

              span::after {
                @extend %buttonRightArrowMouseOver;
              }
            }
          }
        }
      }
    }
    div.section03 {
      display: grid;
      margin-top: 4em;
      margin-left: $section_margin_left_right;
      margin-right: $section_margin_left_right;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1fr, 2fr, 8fr);
      justify-items: center;

      div.top {
        font-size: 11pt;
        margin-bottom: 1em;
      }
      div.middle {
        font-size: 28pt;
        margin-bottom: 1em;
      }
      div.bottom {
        margin-bottom: 1em;
        display: grid;
        column-gap: 1em;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);

        div.product {
          display: flex;
          flex-direction: column;
          align-items: center;

          div.detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover {
              cursor: pointer;
              img {
                content: url("//cdn.shopify.com/s/files/1/0086/4865/4895/products/gildedvelvetblobs_320x400_crop_center.png?v=1605563796");
              }
              .price_detail_group div.price{
                visibility: hidden;
              } 
              .price_detail_group div.view_detail {
                visibility: visible;
              }
            }
            .category {
              font-size: small;
              span {
                color: peru;
                border-left: #414141 1px solid;
              }
            }
            .title {
              font-size: 22pt;
              margin-bottom: 0.5em;
            }
            .price_detail_group {
                display: flex;
                justify-content: center;
              div {
                position: absolute;
                color: #989898;
                font-size: smaller;
              }
              .price {
              }
              .view_detail {
                text-decoration: underline;
                position: relative;
                visibility: hidden;
              }
            }
          }
          button.addCart {
            width: 240px;
            height: 55px;
            margin-top: 3em;
            margin-bottom: 1em;
            @extend %defaultButtonSetup;
          }
        }
      }
    }
  }
}
