%screenWidthByhaedearWidth {
  @media screen and (min-width: 1600px) {
    // @extend %widthGreatThan1600_header;
    width: 34%;
    position: fixed;
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 600px;
    position: fixed;
  }
  @media screen and (min-width: 840px) and (max-width: 1200px) {
    width: 420px;
    position: fixed;
  }
  @media screen and (max-width: 840px) {
    position: block;
  }
}

%screenWidthByContentsWidth {
  @media screen and (min-width: 1600px) {
    // @extend %widthGreatThan1600_header;
    margin-left: 34%;
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    margin-left: 600px;
  }
  @media screen and (min-width: 840px) and (max-width: 1200px) {
    margin-left: 420px;
  }
  @media screen and (max-width: 840px) {
  }
}

%screenWidthByContentsFontSize {
  @media screen and (min-width: 1600px) {
    font-size: 30pt;
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    font-size: 20pt;
  }
  @media screen and (min-width: 840px) and (max-width: 1200px) {
    font-size: 20pt;
  }
  @media screen and (max-width: 840px) {
    font-size: 20pt;
  }
}

%screenWidthByheaderFontSize {
  @media screen and (min-width: 1600px) {
    font-size: 50pt;
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    font-size: 50pt;
  }
  @media screen and (min-width: 840px) and (max-width: 1200px) {
    font-size: 30pt;
  }
  @media screen and (max-width: 840px) {
    font-size: 50pt;
  }
}

%screenWidthByContentsItemHeight {
  @media screen and (min-width: 1600px) {
    height: 100vh;
  }
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    height: 100vh;
  }
  @media screen and (min-width: 840px) and (max-width: 1200px) {
    height: 100vh;
  }
  @media screen and (max-width: 840px) {
    height: 60vh;
  }
}
